extends ../../views/layout

block content
    .container
        .row
            .col-md-8.col-md-offset-2
                h1!=title  
                if posts
                    each post in posts
                        .post
                            h1 
                                a(href=PostSlug.get(post)) #{post.title}
                            p.post-details
                                i.fa.fa-user   
                                    !=post.author
                                i.fa.fa-clock-o   
                                    != formatDate(post.date)
                            .postimage
                                a(href=PostSlug.get(post))
                                    img(src='/images/uploads/#{post.postimage}')
                            p
                                != truncate(post.content)
                                a(href=PostSlug.get(post))  ...Read More