extends ../layout

block content
    .container
        .row
            .col-md-8
                h1 #{post.title}
                p.post-details
                    i.fa.fa-user   
                        !=post.author
                    i.fa.fa-clock-o   
                        !=formatDate(post.date)
                    i.fa.fa-folder
                        a(href='/categories/#{post.category}')   #{post.category}
                .postimage
                    img(src='/images/uploads/#{post.postimage}')
                p!=post.content
        