extends ../../views/layout

block content
    .container
        .row
            .col-md-8.col-md-offset-2
                h1 Members Area
                p Welcome to members area
                button.btn.btn-default(type='submit')
                    a(href='/posts/newpost') Add Post
                
        

    .container
        .row
            .col-md-8.col-md-offset-2
                if posts
                    each post in posts
                        .post
                            h1 
                                a(href=PostSlug.get(post)) #{post.title}
                                span.post-btn
                                    a(data-toggle='modal', data-target='#del-post', href='#del-post', data-id='#{post.title}')
                                        i.fa.fa-trash-o
                                    
                                span.post-btn
                                    a(href=PostSlug.edit(post)) 
                                        i.fa.fa-pencil

                            p.post-details
                                i.fa.fa-user   
                                    !=post.author
                                i.fa.fa-clock-o   
                                    !=formatDate(post.date)
                                i.fa.fa-folder
                                    a(href=CategorySlug.get(post.category))   #{post.category}
                            .postimage
                                a(href=PostSlug.get(post))
                                    img(src='/images/uploads/#{post.postimage}')
                            p
                                != truncate(post.content)
                                a(href=PostSlug.get(post))  ...Read More


    include post_modal.jade

