extends ../../views/layout

block content
    .container
        .row
            .col-md-8.col-md-offset-2
                h1 #{post.title}
                if (user==post.author)
                    span.post-btn
                        a(data-toggle='modal', data-target='#del-post', href='#del-post', data-id='#{post.title}')
                            i.fa.fa-trash-o
                        
                    span.post-btn
                        a(href='/posts/#{post.title}/edit') 
                            i.fa.fa-pencil
                p.post-details
                    i.fa.fa-user   
                        !=post.author
                    i.fa.fa-clock-o   
                        !=formatDate(post.date)
                    i.fa.fa-folder
                        a(href='/categories/#{post.category}')   #{post.category}
                .postimage
                    img(src='/images/uploads/#{post.postimage}')
                p!=post.content

        .row
            .col-md-8.col-md-offset-2
                if comments
                    h3 Comments
                    each comment in comments
                        p.meta
                            !=comment.name
                            !=comment.email
                        p!= comment.body
                hr
                h3 Add Comment
                form.comment-form(method='post', action='/posts/#{post.title}/addcomment')
                    .form-group
                        label Name
                        input.form-control(name='name', type='text', required)
                    .form-group
                        label Email
                        input.form-control(name='email', type='email', required)
                    .form-group
                        label Your Comment
                        textarea.form-control(name='comment', type='text' required)
                    button.btn.btn-default(type='submit') Submit


    include post_modal.jade